{
  "$schema": "https://raw.githubusercontent.com/badlogic/pi-mono/main/packages/coding-agent/src/modes/interactive/theme/theme-schema.json",
  "name": "tinted-pi",
  "vars": {
    "cyan": "#{{ base0C-hex }}",
    "blue": "#{{ base0D-hex }}",
    "green": "#{{ base0B-hex }}",
    "red": "#{{ base08-hex }}",
    "yellow": "#{{ base0A-hex }}",
    "gray": "#{{ base03-hex }}",
    "dimGray": "#{{ base02-hex }}",
    "darkGray": "#{{ base01-hex }}",
    "accent": "#{{ base0E-hex }}",
    "selectedBg": "#{{ base04-hex }}",
    "userMsgBg": "#{{ base00-hex }}",
    "toolPendingBg": "#{{ base09-hex }}",
    "toolSuccessBg": "#{{ base0B-hex }}",
    "toolErrorBg": "#{{ base08-hex }}",
    "customMsgBg": "#{{ base0D-hex }}"
  },
  "colors": {
    "accent": "accent",
    "border": "blue",
    "borderAccent": "cyan",
    "borderMuted": "darkGray",
    "success": "green",
    "error": "red",
    "warning": "yellow",
    "muted": "gray",
    "dim": "dimGray",
    "text": "",
    "thinkingText": "gray",

    "selectedBg": "selectedBg",
    "userMessageBg": "userMsgBg",
    "userMessageText": "",
    "customMessageBg": "customMsgBg",
    "customMessageText": "",
    "customMessageLabel": "",
    "toolPendingBg": "toolPendingBg",
    "toolSuccessBg": "toolSuccessBg",
    "toolErrorBg": "toolErrorBg",
    "toolTitle": "",
    "toolOutput": "gray",

    "mdHeading": "green",
    "mdLink": "cyan",
    "mdLinkUrl": "dimGray",
    "mdCode": "accent",
    "mdCodeBlock": "green",
    "mdCodeBlockBorder": "gray",
    "mdQuote": "gray",
    "mdQuoteBorder": "gray",
    "mdHr": "gray",
    "mdListBullet": "accent",

    "toolDiffAdded": "green",
    "toolDiffRemoved": "red",
    "toolDiffContext": "gray",

    "syntaxComment": "gray",
    "syntaxKeyword": "accent",
    "syntaxFunction": "yellow",
    "syntaxVariable": "red",
    "syntaxString": "green",
    "syntaxNumber": "#{{ base09-hex }}",
    "syntaxType": "blue",
    "syntaxOperator": "accent",
    "syntaxPunctuation": "#{{ base05-hex }}",

    "thinkingOff": "darkGray",
    "thinkingMinimal": "cyan",
    "thinkingLow": "green",
    "thinkingMedium": "yellow",
    "thinkingHigh": "#{{ base09-hex }}",
    "thinkingXhigh": "red",

    "bashMode": "green"
  },
  "export": {
    "pageBg": "#{{ base00-hex }}",
    "cardBg": "dimGray",
    "infoBg": "#{{ base04-hex }}"
  }
}

